.page-header
  %h1
    Contacts
    %small where to reach me
.row
  .col-md-10.col-md-offset-1
    .row
      .col-md-8
        %h3 Email:
        - contact.email.each do |em|
          = partial(:email, locals: { :email => em })
    .row
      .col-md-8
        %h3 Phone:
        - contact.phone.each do |ph|
          = partial(:phone, locals: { :phone => ph })

    .row
      .col-md-8
        %h3 Social:
        - contact.social.each do |soc|
          = partial(:social, locals: { :soc => soc })

    .row
      .col-md-8
        %h3 Web:
        - contact.web_sites.each do |site|
          = partial(:website, locals: { :site => site })
