%nav.navbar.navbar-inverse.navbar-fixed-bottom
  %p.navbar-text= "Copyright &copy; #{Time.now.year} Tamara Temple. Created with <a class=\"navbar-link\" href=\"http://middlemanapp.com\">Middleman</a> and <a class=\"navbar-link\" href=\"http://getbootstrap.com/\">Twitter Bootstrap 3.0</a>"
  %p.navbar-text.navbar-right= link_to "Colophon", "/colophon.html", class: "navbar-link"
