.navbar.navbar-inverse.navbar-fixed-bottom
  .container
    .navbar-header
      %p.navbar-text
        Copyright &copy; Tamara Temple.
        Created with
        = link_to "Middleman", "http://middlemanapp.com"
        and
        = link_to "Twitter Bootstrap 3.0", "http://getbootstrap.com/", alt: 'Link to home of Twitter Bootstrap', title: 'Twitter Bootstrap: Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.'

