.navbar.navbar-inverse.navbar-fixed-bottom
  .container
    .navbar-header
      %p.navbar-text
        Copyright &copy; Tamara Temple.
        Created with
        %a{:href  => 'https://rubygems.org/gems/frank', :alt   => 'Link to frank gem at rubygems.org', :title => 'Frank, A static website builder'}Frank
        and
        %a{:href  => 'http://getbootstrap.com/', :alt   => 'Link to home of Twitter Bootstrap', :title => 'Twitter Bootstrap: Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.'}Twitter Bootstrap 3.0.

