.row.job
  .col-md-4.text-right
    %h3.label.label-primary.job-dates= calculate_duration(job.duration)
  .col-md-8
    %p.job-info
      %span.position>= job.position
      ,
      %span

      %span.company>= job.company
      ,
      %span

      %span.location= job.location
    %p.description= job.description
    - if job.accomplishments_and_duties
      %h4 Accomplishments and Duties
      %ul
        - job.accomplishments_and_duties.each do |t|
          %li= t
