.row.job
  .col-md-2
    %h3.label.label-primary= job.years
  .col-md-8
    %p.job-info
      %span.position>= job.position
      ,
      %span

      %span.company>= job.company
      ,
      %span
      
      %span.location= job.location
    %p.description= job.description
    %h4 Accomplishments and Duties
    %ul
      - job.accomplishments_and_duties.each do |t|
        %li= t
