.page-header
  %h1
    Skills
    %br
      %small things I know how to do really well
.row
  .col-md-12
    .panel.panel-primary
      .panel-heading
        %p
          Methodologies.
          %small Techniques and practices that I use and mix in many ways.
      .panel-body
        %ul
          - methodologies.each do |item|
            %li= item
    - skills.each do |key,list|
      .panel.panel-primary
        .panel-heading
          %p= titlecase(humanize(key))
        .panel-body
          %ul
            - list.each do |item|
              %li= item
