.page-header
  %h1
    Skills
    %br
      %small things I know how to do really well
.row
  .col-md-10.col-md-offset-1
    .panel.panel-primary
      .panel-heading
        %p
          Methodologies
          %br
          %small techniques and practices that I use and mix in many ways
      .panel-body
        %ul
          - methodologies.each do |item|
            %li= item
    - skills.each do |key,list|
      .panel.panel-primary
        .panel-heading
          %p= key
        .panel-body
          %ul
            - list.each do |item|
              %li= item
