.page-header
  %h1
    Summary
    %small who I am and what I do
.row
  .col-md-6
    %p= brief_summary
    - summary.each do |par|
      :markdown
        #{par}
  .col-md-5.col-md-offset-1
    %h3 Topic Links
    %ul
      - summary_links.each do |lnk|
        %li= link_to lnk.text, lnk.link
          
