// twitter card data
%meta{content: 'summary'                          , name: 'twitter:card'}
%meta{content: "@#{data.twitter_card.website.twitter}" , name: 'twitter:site'}
%meta{content: data.twitter_card.website.title         , name: 'twitter:title'}
%meta{content: data.twitter_card.website.description   , name: 'twitter:description'}
%meta{content: "@#{data.twitter_card.website.twitter}" , name: 'twitter:creator'}
